<div>
  <h1>User info</h1>
  <% if @user.profile_image.attached? %>
    <%= image_tag @user.profile_image, size: "100x100" %>
  <% else %>
    <%= image_tag 'no_image', size: "100x100" %>
  <% end %>
  <table>
  <tr><th>name</th>
  <tr><td><%= @user.name %></td></tr><br>

  <th>introduction</th></tr>
  <tr><td><%= @user.introduction %></td></tr><br>
  </table>
  <p><%= link_to "プロフィール編集", edit_user_path %></p>
</div>

<h1>New book</h1>
  <%= form_with model: @book do |f| %>
      <%= f.label :Title %><br>
      <%= f.text_field :title %><br><br>
      <%= f.label :Opinion %><br>
      <%= f.text_area :opinion %><br>
    <%= f.submit 'Create Book' %>
  <% end %>

<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.title, book %></td>
        <td><%= book.opinion %></td>
      </tr>
    <% end %>
  </tbody>
</table>