<% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class = "container">
  <div class="row">
    <div class="col-lg-4">
<h1>User info</h1>
        <% if @book.user.profile_image.attached? %>
          <%= image_tag @book.user.profile_image, size: "100x100" %>
        <% else %>
          <%= image_tag 'no_image', size: "100x100" %>
        <% end %>
        <table class = "table">
          <tr class = "row"><th class = "col-md-6">name</th>
          <td><%= @book.user.name %></td></tr><br>

          <tr class="row"><th class = "col-md-6">introduction</th>
          <td><%= @book.user.introduction %></td></tr><br>
        </table>
            <%= link_to edit_user_path(@book.user), class: 'nav-list' do %>
              <i class="fas fa-user-cog"></i>
            <% end %>


<h1>New book</h1>
  <%= form_with model: @book1 do |f| %>
      <%= f.label :Title %><br>
      <%= f.text_field :title %><br><br>
      <%= f.label :Opinion %><br>
      <%= f.text_area :body %><br>
      <%= f.submit 'Create Book' %>
  <% end %>
  </div>
<div class="col-lg-8">
<h1>Book detail</h1>
<table class = "table">
  <thead>
  </thead>
  <tbody>
      <tr>
        <td class = "col-md-4">
          <%= link_to user_path(@book.user_id) do %>
            <%= image_tag @book.user.get_profile_image(80,80) %>
          <% end %>
           <div class="row"><%= link_to @book.user.name, user_path(@book.user.id) %></div>
        </td>
           
        <td class = "col-md-2"><%= link_to @book.title %></td>
        <td class = "col-md-2"><%= @book.body %></td>
        <% if @book.user == current_user %>
          <td class = "col-md-2"><%= link_to 'Edit', edit_book_path(@book) %></td>
          <td class = "col-md-2"><%= link_to 'Destroy', book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
        <% end %>
      </tr>
  </tbody>
</table>
</div>
</div>
</div>