<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "bg-dark">
      <div class = "container">
        <div class="row">
          <div class="col-lg-4">
          <a class = "title" href = "/">Bookers</a>
          </div>
    <% if user_signed_in? %>
    <div class="col-lg-2">
      <span>
        <%= link_to user_path(current_user), class: 'nav-link text-light' do %>
          <i class="fas fa-home"></i> Home
        <% end %>
      </span>
    </div>
    <div class="col-lg-2">
      <span>
        <%= link_to users_path, class: 'nav-link text-light' do %>
          <i class="fas fa-users"></i> Users
        <% end %>
      </span>
    </div>
    <div class="col-lg-2">
      <span>
        <%= link_to books_path, class: 'nav-link text-light' do %>
          <i class="fas fa-book-open"></i> Books
        <% end %>
      </span>
    </div>
    <div class="col-lg-2">
      <span>
        <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
          <i class="fas fa-sign-out-alt"></i> Log out
        <% end %>
      </span>
    </div>
    <% else %>
    <div class="col-lg-2">
      <span>
        <%= link_to root_path, class: 'nav-list text-light' do %>
          <i class="fas fa-home"></i> Home
        <% end %>
      </span>
    </div>
    <div class="col-lg-2">
      <span>
        <%= link_to about_path, class: 'nav-list text-light' do %>
          <i class="fas fa-link"></i> About
        <% end %>
      </span>
    </div>
    <div class="col-lg-2">
      <span>
        <%= link_to new_user_registration_path, class: 'nav-list text-light' do %>
          <i class="fas fa-user-plus"></i> Sign up
        <% end %>
      </span>
    </div>
    <div class="col-lg-2">
      <span>
        <%= link_to new_user_session_path, class: 'nav-list text-light' do  %>
          <i class="fas fa-sign-in-alt"></i> Log in
        <% end %>
      </span>
    </div>
    <% end %>
    </div>
    </div>
    </div>
    </header>
  <% if flash[:notice] %>
     <p id="notice">
       <%= flash[:notice] %>
     </p>
  <% end %>
    <%= yield %>
    <footer>
      <div class="container">
        <p class = "text-center">CopyRight Infratop.inc</p>
      </div>
    </footer>
  </body>
</html>
